html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
}

main {
  display: block;
}

p {
  margin: 0;
  padding: 0;

  line-height: 1.4;
}

ul {
  list-style: none;

  font-size: 0;
}

li {
  font-size: 1em;
}

section {
  clear: both;
}

.list-share-popular {
  text-align: center;
}

.list-share-popular .label {
  margin: 5px;

  font-size: 1rem;
  font-weight: bold;
}

.list-share-popular .item {
  position: relative;

  display: block;

  float: left;

  width: 200px;
  height: 150px;

  margin-left: 20px;

  border: 2px solid #999;
}

.list-share-inline-block {
  display: block;
}

.list-share-inline-block .item {
  display: inline-block;

  vertical-align: top;
}

.list-share-inline-block .item + .item {
  margin-left: 10px;
}


.list-share-float {
  display: block;
}

.list-share-float .item {
  display: block;

  float: left;

}

.list-share-float .item + .item {
  margin-left: 10px;
}
